img{
    height: 100%;
    width: 400px;
}

header{
    flex-direction: row;
    display: flex;
    background-color: rgb(255, 140, 0) !important;
}

.navbar{
    display: flex;
    width: 800px;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}